docs/n8n-workflows/prime-daily-content-pipeline.json
{
  "name": "Prime Daily Content Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily 9 AM EST Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "notes": "Triggers every day at 9 AM EST (14:00 UTC)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kbbrehnyqpulbxyesril.supabase.co/functions/v1/scrape-music-trends",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "5"
            },
            {
              "name": "query",
              "value": "music production mixing mastering hip hop R&B"
            }
          ]
        },
        "options": {}
      },
      "id": "scrape-trends",
      "name": "Scrape Music Trends",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 0],
      "notes": "Fetches top 5 trending music topics via Firecrawl"
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleAi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $env.GOOGLE_AI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"You are Prime, a legendary mixing engineer with 25+ years in hip-hop and R&B. Your voice is: blunt, confident, occasionally profane, deeply knowledgeable.\\n\\nFrom these trending topics, select THE ONE topic that Prime would have the hottest take on:\\n\\n{{ JSON.stringify($json.trends) }}\\n\\nRespond with ONLY a JSON object (no markdown):\\n{\\n  \\\"selected_topic\\\": \\\"exact title from list\\\",\\n  \\\"angle\\\": \\\"Prime's specific angle/opinion in 1 sentence\\\",\\n  \\\"content_type\\\": \\\"hot-take\\\" | \\\"production-tip\\\" | \\\"industry-insight\\\" | \\\"trend-reaction\\\",\\n  \\\"urgency\\\": \\\"high\\\" | \\\"medium\\\" | \\\"low\\\"\\n}\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.7,\n    \"maxOutputTokens\": 500\n  }\n}",
        "options": {}
      },
      "id": "select-topic",
      "name": "AI: Select Best Topic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 0],
      "notes": "Uses Gemini to select the most Prime-worthy topic"
    },
    {
      "parameters": {
        "jsCode": "// Parse Gemini response\nconst response = $input.first().json;\nconst textContent = response.candidates?.[0]?.content?.parts?.[0]?.text || '{}';\n\n// Clean up any markdown code blocks\nlet cleanJson = textContent\n  .replace(/```json\\n?/g, '')\n  .replace(/```\\n?/g, '')\n  .trim();\n\ntry {\n  const parsed = JSON.parse(cleanJson);\n  return {\n    json: {\n      selected_topic: parsed.selected_topic || 'Music production trends',\n      angle: parsed.angle || 'The industry is changing and most people are sleeping on it',\n      content_type: parsed.content_type || 'hot-take',\n      urgency: parsed.urgency || 'medium',\n      raw_trends: $('Scrape Music Trends').first().json.trends || []\n    }\n  };\n} catch (e) {\n  return {\n    json: {\n      selected_topic: 'Music production trends',\n      angle: 'Let me tell you what the industry is really about',\n      content_type: 'hot-take',\n      urgency: 'medium',\n      error: e.message,\n      raw_response: cleanJson\n    }\n  };\n}"
      },
      "id": "parse-topic",
      "name": "Parse Topic Selection",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 0],
      "notes": "Extracts and validates the selected topic"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kbbrehnyqpulbxyesril.supabase.co/functions/v1/prime-content-engine",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contentType\": \"{{ $json.content_type }}\",\n  \"topic\": \"{{ $json.selected_topic }}: {{ $json.angle }}\",\n  \"platforms\": [\"tiktok\", \"instagram\", \"twitter\"],\n  \"includeVoice\": true,\n  \"includeImage\": true,\n  \"includeVideo\": true,\n  \"videoStyle\": \"talking-head\",\n  \"useCanonicalReference\": true\n}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "generate-content",
      "name": "Generate Prime Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 0],
      "notes": "Calls the Prime Content Engine with video generation enabled"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-success",
      "name": "Content Generated?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1250, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.RESEND_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"Prime Content Engine <noreply@mixxclub.com>\",\n  \"to\": [\"admin@mixxclub.com\"],\n  \"subject\": \"🔥 New Prime Content Ready for Review\",\n  \"html\": \"<div style='font-family: sans-serif; max-width: 600px; margin: 0 auto; background: #1a1a2e; color: #fff; padding: 24px; border-radius: 12px;'><h1 style='color: #8b5cf6;'>Prime just cooked up something 🔥</h1><p><strong>Topic:</strong> {{ $('Parse Topic Selection').first().json.selected_topic }}</p><p><strong>Angle:</strong> {{ $('Parse Topic Selection').first().json.angle }}</p><p><strong>Type:</strong> {{ $('Parse Topic Selection').first().json.content_type }}</p><hr style='border-color: #333; margin: 20px 0;'/><p><strong>Script Preview:</strong></p><blockquote style='border-left: 3px solid #8b5cf6; padding-left: 12px; font-style: italic;'>{{ $json.content.script.substring(0, 300) }}...</blockquote><br/><a href='https://mixxclub.lovable.app/admin/prime-content' style='display: inline-block; background: #8b5cf6; color: white; padding: 12px 24px; border-radius: 8px; text-decoration: none; font-weight: bold;'>Review Content →</a></div>\"\n}",
        "options": {}
      },
      "id": "notify-success",
      "name": "Email: Content Ready",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, -100],
      "notes": "Sends email notification when content is ready"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.RESEND_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"Prime Content Engine <noreply@mixxclub.com>\",\n  \"to\": [\"admin@mixxclub.com\"],\n  \"subject\": \"⚠️ Prime Content Generation Failed\",\n  \"html\": \"<div style='font-family: sans-serif; max-width: 600px; margin: 0 auto; background: #1a1a2e; color: #fff; padding: 24px; border-radius: 12px;'><h1 style='color: #ef4444;'>Content Generation Failed</h1><p>The daily Prime content pipeline encountered an error.</p><p><strong>Error:</strong> {{ $json.error || 'Unknown error' }}</p><hr style='border-color: #333; margin: 20px 0;'/><p>Check the n8n execution logs for details.</p><a href='https://mixxclub.lovable.app/admin/prime-content' style='display: inline-block; background: #8b5cf6; color: white; padding: 12px 24px; border-radius: 8px; text-decoration: none; font-weight: bold;'>Manual Generate →</a></div>\"\n}",
        "options": {}
      },
      "id": "notify-failure",
      "name": "Email: Generation Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 100],
      "notes": "Sends email notification on failure"
    }
  ],
  "connections": {
    "Daily 9 AM EST Trigger": {
      "main": [[{ "node": "Scrape Music Trends", "type": "main", "index": 0 }]]
    },
    "Scrape Music Trends": {
      "main": [[{ "node": "AI: Select Best Topic", "type": "main", "index": 0 }]]
    },
    "AI: Select Best Topic": {
      "main": [[{ "node": "Parse Topic Selection", "type": "main", "index": 0 }]]
    },
    "Parse Topic Selection": {
      "main": [[{ "node": "Generate Prime Content", "type": "main", "index": 0 }]]
    },
    "Generate Prime Content": {
      "main": [[{ "node": "Content Generated?", "type": "main", "index": 0 }]]
    },
    "Content Generated?": {
      "main": [
        [{ "node": "Email: Content Ready", "type": "main", "index": 0 }],
        [{ "node": "Email: Generation Failed", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York"
  },
  "staticData": null,
  "tags": ["prime", "content", "automation", "daily"],
  "triggerCount": 1,
  "meta": {
    "instanceId": "mixxclub-prime-pipeline"
  }
}
